<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="icon" href="http://getbootstrap.com/favicon.ico">

  <title>AngularJS & Firebase Web App</title>
  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
  <link rel="stylesheet" href="justified-nav.css">

</head>

<body ng-controller="HomeCtrl">
  <div class="container">
    <div class="jumbotrom" style="padding-bottom:0px;">
      <h2>AngularJS & Firebase App!</h2>
    </div>
    <form class="form-signin" role="form" name="signinForm">
    <div class="form-group" ng-class="{ 'has-error' : signinForm.email.$invalid }">
        <label>Email</label>
        <input ng-model="user.email" name="email" type="email" class="form-control" placeholder="Email address" required="" autofocus="" >
        <span class="help-block" ng-show="signinForm.email.$invalid">Enter a valid email.</span>
    </div>
      <div class="form-group" ng-class="{ 'has-error' : signinForm.email.$invalid }">
        <label>Password</label>
        <input ng-model="user.password" name="password" type="password" class="form-control" placeholder="Password" required="" ng-minlength="8">
        <span class="help-block" ng-show="signinForm.password.$error.minlength" >Min password length is 8 characters.</span>
      </div>
      <label class="checkbox">
        <a href="#/register">Sign Up</a>
      </label>
      <button ng-click="SignIn($event)" ng-disabled="!user.email || !user.password" class="btn btn-lg btn-primary btn-block" type="submit" >Sign In</button>

    </form>

  </div>

</body>


</html>
