<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="blog.css">
  </head>
  <body ng-controller="AddPostCtrl">
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="#/welcome">Home</a>
          <a href="#/addPost" class="blog-nav-item">Add Post</a>
        </nav>
      </div>
    </div>
    <div class="container">

      <!-- +++++++++++++++++++++++++++++ FORM +++++++++++++++++++++++++++++ -->
      <form class="form-horizontal" ng-submit="AddPost()">
        <fieldset>
          <!-- Form Name -->
          <legend>Create Post</legend>

          <!-- Text input -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="txtTitle" >Title</label>
            <div class="col-md-4">
              <input type="text" id="txtTitle" name="txtTitle" class="form-control input-md" ng-model="article.title" placeholder="placeholder">

            </div>
          </div>

          <!-- Textarea -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="txtPost">Post</label>
            <div class="col-md-4">
              <textarea class="form-control" ng-model="article.post" id="txtPost" name="txtPost"></textarea>
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            <div class="col-md-4">
              <input type="submit" name="singlebutton" id="singlebutton" class="btn btn-primary" value="Publish" ng-disabled="!article.title || !article.post">
            </div>
          </div>
        </fieldset>

      </form>

    </div>
  </body>
</html>
