<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="icon" href="http://getbootstrap.com/favicon.ico">

  <title>AngularJS & Firebase Web App</title>
  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
  <link rel="stylesheet" href="justified-nav.css">

</head>
<body ng-controller="RegisterCtrl">
  <div class="container">
    <div class="jumbotrom" style="padding-bottom:0px;">
      <h2>AngularJS & Firebase App!</h2>
    </div>

    <form class="form-signin" role="regForm" name="regForm">
      <div class="form-group" ng-class="{ 'has-error' : regForm.email.$invalid }">
        <label>Email</label>
        <input type="email" name="email" class="form-control" ng-model="user.email">
        <p class="help-block" ng-show="regForm.email.$invalid">Enter a valid email.</p>

      </div>

      <div class="form-group" ng-class="{ 'has-error' : regForm.password.$invalid }">
          <label>Password</label>
          <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="8">
          <p class="help-block" ng-show="regForm.password.$error.minlength">Min password length is 8 characters.</p>
      </div>
      <p style="color:red;" ng-show="regError">{{regErrorMessage}}</p>
      <label class="checkbox">
        <a href="#/home">Sign In</a>
      </label>
      <button type="button" ng-click="signUp(regForm);" ng-disabled="!user.email || !user.password" class="btn btn-lg btn-primary btn-block">Register</button>
    </form>

  </div>

</body>



</html>
